In [3]:
# Import Dependencies
import pandas as pd

# Import Source CSV files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

# Store as Pandas Dataframe
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

# Merge into one dataframe
complete_df = pd.merge(school_data_df, student_data_df, how="left",on="school_name")
complete_df.head(10)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [8]:
# Calculate the total number of unique schools
school_count = len(complete_df["school_name"].unique())
school_count

15

In [11]:
# Calculate the total number of students
student_count = complete_df["student_name"].count()
student_count

39170

In [14]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [15]:
# Calculate the average math score
average_math_score = complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [16]:
# Calculate the average reading score
average_reading_score = complete_df["reading_score"].mean()
average_reading_score

81.87784018381414